{{!-- Routes data by value of devoured or not devoured --}}

<header>
    <div class="row">
        <div align="center" class="col-sm-12">
            <h1>Devour the Burger!!</h1>
        </div>
    </div>
</header>
<div class="center">
    <div class="row">
        <div class="col-sm-4">
            <h2 align="center">Burgers for the Taking</h2>
            <ul align="center">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div align="center" class="col-sm-4"><br><br>

            {{!-- burger image here --}}
        </div>

        <div class="col-sm-4">
            <h2 align="center">Devoured</h2>
            <ul align="center">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<br><br>

{{!-- Burger creation outline/button --}}
<div align="center" class="row">
    <div class="col-sm-12">

        <h2>Create a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="burg">Burger Name:</label>
                <input type="text" id="burg" name="burger_name">
            </div>

            <button id="submit" type="submit">Create Burger</button>
        </form>
    </div>
</div>