body{
    background-color: yellow;
}

h1, h2{
    font-family: 'Bangers', cursive;
    color: tomato;
}

img{
    border-radius: 100px;
    border: solid tomato;
}

button.change-devour{
    border: solid tomato;
    border-radius: 12px;
    font-family: 'Bangers', cursive;
    background: yellowgreen;
}